.chat-footer {
  height: 8%;
  background: rgb(211, 211, 211);
}

.chat-form {
  display: flex;
  justify-content: center;
  align-content: center;
}

.chat-form input, button {
  margin: 13px;
}

.chat-form-text-input {
  width: 70%;
  border-radius: 15px;
  border: 1px solid #fff;
  background: rgb(243, 243, 243);
  outline: none;
  min-height: 30px;
}

.chat-form-button {
  background: none;
  border: none;
  width: 50px;
}

.chat-form-image-label {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.chat-form-image-input {
  display: none;
}