
.chat {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.chat-container {
  display: flex;
  height: 76%;
}

.sidebar {
  width: 20%;
  background: rgb(240, 240, 240);
}

.sidebar ul li {
  margin: 15px;
  font-size: 20px;
}

.chat-list {
  width: 80%;
  overflow-y: scroll;
}

.new-message {
  position: absolute;
  top: 84%;
  left: 55%;
  width: 120px;
  height: 40px;
  border-radius: 15px;
  background: #bafff042;
}

.new-message:focus {
  border: 1px solid #ffffff;
  border-radius: 15px;
  background: #bafff0ab;
}

@media (max-width: 768px) {
  .sidebar {
    display: none;
  }

  .chat-list {
    width: 100%;
    overflow-y: scroll;
  }
}
